In [16]:
import os
import sys
import pickle as pkl

repo_path = '/root/ADA2023/ada-2023-project-adacadabra2023/ada-2023-project-adacadabra2023' # CHANGE
sys.path.append(repo_path)

from src.data.Data import load_data

In [17]:
dpath = os.path.join(repo_path, 'Data', 'Unified_ratings.pkl')
with open(dpath, 'rb') as f:
    df = pkl.load(f)
print(df.shape)

(10932248, 18)

# Columns filtration

In [18]:
df.columns

Index(['beer_name', 'beer_id', 'brewery_name', 'brewery_id', 'style', 'date',
       'rating', 'user_id', 'Procedence', 'country_user', 'country_brewery',
       'year', 'Season', 'z_score', 'exp_mean', 'diff_exp_mean', 'ith_rating',
       'detrend'],
      dtype='object')

In [19]:
filtered_df = df[['style','Season', 'country_user']]
filtered_df

                          style  Season                  country_user
0         Maibock / Helles Bock  Autumn       United States, Illinois
1         Maibock / Helles Bock  Winter  United States, Massachusetts
2         Maibock / Helles Bock  Spring    United States, Connecticut
3         Maibock / Helles Bock  Spring          United States, Texas
4         Maibock / Helles Bock  Autumn        United States, Georgia
...                         ...     ...                           ...
10932243   India Pale Ale (IPA)  Summer                        Poland
10932244   India Pale Ale (IPA)  Summer                        Poland
10932245   India Pale Ale (IPA)  Summer                        Poland
10932246   India Pale Ale (IPA)  Summer                        Poland
10932247   India Pale Ale (IPA)  Summer                        Poland

[10932248 rows x 3 columns]

In [20]:
top_4_beerstyles = filtered_df.groupby(['country_user', 'Season'])['style'].value_counts().groupby(['country_user', 'Season']).head(4).reset_index(name='counts')

In [21]:
top_4_beerstyles

     country_user  Season                style  counts
0         Andorra  Autumn         Abbey Tripel       4
1         Andorra  Autumn         Abbey Dubbel       3
2         Andorra  Autumn   Belgian Strong Ale       3
3         Andorra  Autumn           Doppelbock       3
4         Andorra  Spring         Dunkelweizen       2
...           ...     ...                  ...     ...
2390        Wales  Summer   English Strong Ale      14
2391        Wales  Winter               Bitter      34
2392        Wales  Winter                Stout      17
2393        Wales  Winter   Premium Bitter/ESB      14
2394        Wales  Winter   English Strong Ale      12

[2395 rows x 4 columns]

In [30]:
len(top_4_beerstyles['country_user'])

2395

In [23]:
from dash import Dash, dcc, html, Input, Output
import plotly.express as px

app = Dash(__name__)


app.layout = html.Div([
    html.H4('Seasonal analysis of beerstyles per country'),
    dcc.Graph(id="pie-charts-x-graph"),
    html.P("Names:"),
    dcc.Dropdown(id='pie-charts-x-names',
        options=['1st', '2nd', '3rd', '4th'],
        value='Season', clearable=False
    ),
    html.P("Values:"),
    dcc.Dropdown(id='pie-charts-x-values',
        options=['total_bill', 'tip', 'size'],
        value='Country', clearable=False
    ),
])


@app.callback(
    Output("pie-charts-x-graph", "figure"), 
    Input("pie-charts-x-names", "value"), 
    Input("pie-charts-x-values", "value"))
def generate_chart(names, values):
    df = px.data.tips() # replace with your own data source
    fig = px.pie(df, values=values, names=names, hole=.3)
    return fig


if __name__ == "__main__":
    app.run_server(debug=True)

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
File ~/miniconda3/envs/ada/lib/python3.9/site-packages/plotly/express/_chart_types.py:1482, in pie(
    data_frame=     total_bill   tip     sex smoker   day    ti...   No  Thur  Dinner     2

[244 rows x 7 columns],
    names='Season',
    values='Country',
    color=None,
    facet_row=None,
    facet_col=None,
    facet_col_wrap=0,
    facet_row_spacing=None,
    facet_col_spacing=None,
    color_discrete_sequence=None,
    color_discrete_map=None,
    hover_name=None,
    hover_data=None,
    custom_data=None,
    category_orders=None,
    labels=None,
    title=None,
    template=None,
    width=None,
    height=None,
    opacity=None,
    hole=0.3
)
   1480 else:
   1481     layout_patch = {}
-> 1482 return make_figure(
        go = <module 'plotly.graph_objs' from '/root/miniconda3/envs/ada/lib/python3.9/site-packages/plotly/graph_objs/__init__.py'>
        names is not None = True
        hole = 0.3
        names = 'Season'
        layout_patch = {}
   1483     args=locals(),
   1484     constructor=go.Pie,
   1485     trace_patch=dict(showlegend=(names is not None), hole=hole),
   1486     layout_patch=layout_patch,
   1487 )

File ~/miniconda3/envs/ada/lib/python3.9/site-packages/plotly/express/_core.py:1990, in make_figure(
    args={'category_orders': None, 'color': None, 'color_discrete_map': None, 'color_discrete_sequence': None, 'custom_data': None, 'data_frame':      total_bill   tip     sex smoker   day    ti...   No  Thur  Dinner     2

[244 rows x 7 columns], 'facet_col': None, 'facet_col_spacing': None, 'facet_col_wrap': 0, 'facet_row': None, ...},
    constructor=<class 'plotly.graph_objs._pie.Pie'>,
    trace_patch={'hole': 0.3, 'showlegend': True},
    layout_patch={}
)
   1987 layout_patch = layout_patch or {}
   1988 apply_default_cascade(args)
-> 1990 args = build_dataframe(args, constructor)
        args = {'data_frame':      total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns], 'names': 'Season', 'values': 'Country', 'color': None, 'facet_row': None, 'facet_col': None, 'facet_col_wrap': 0, 'facet_row_spacing': None, 'facet_col_spacing': None, 'color_discrete_sequence': None, 'color_discrete_map': None, 'hover_name': None, 'hover_data': None, 'custom_data': None, 'category_orders': None, 'labels': None, 'title': None, 'template': None, 'width': None, 'height': None, 'opacity': None, 'hole': 0.3, 'layout_patch': {}}
        constructor = <class 'plotly.graph_objs._pie.Pie'>
   1991 if constructor in [go.Treemap, go.Sunburst, go.Icicle] and args["path"] is not None:
   1992     args = process_dataframe_hierarchy(args)

File ~/miniconda3/envs/ada/lib/python3.9/site-packages/plotly/express/_core.py:1405, in build_dataframe(
    args={'category_orders': None, 'color': None, 'color_discrete_map': None, 'color_discrete_sequence': None, 'custom_data': None, 'data_frame':      total_bill   tip     sex smoker   day    ti...   No  Thur  Dinner     2

[244 rows x 7 columns], 'facet_col': None, 'facet_col_spacing': None, 'facet_col_wrap': 0, 'facet_row': None, ...},
    constructor=<class 'plotly.graph_objs._pie.Pie'>
)
   1402     args["color"] = None
   1403 # now that things have been prepped, we do the systematic rewriting of `args`
-> 1405 df_output, wide_id_vars = process_args_into_dataframe(
        args = {'data_frame':      total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns], 'names': 'Season', 'values': 'Country', 'color': None, 'facet_row': None, 'facet_col': None, 'facet_col_wrap': 0, 'facet_row_spacing': None, 'facet_col_spacing': None, 'color_discrete_sequence': None, 'color_discrete_map': None, 'hover_name': None, 'hover_data': None, 'custom_data': None, 'category_orders': None, 'labels': None, 'title': None, 'template': None, 'width': None, 'height': None, 'opacity': None, 'hole': 0.3, 'layout_patch': {}}
        wide_mode = False
        var_name = None
        value_name = None
   1406     args, wide_mode, var_name, value_name
   1407 )
   1409 # now that `df_output` exists and `args` contains only references, we complete
   1410 # the special-case and wide-mode handling by further rewriting args and/or mutating
   1411 # df_output
   1413 count_name = _escape_col_name(df_output, "count", [var_name, value_name])

File ~/miniconda3/envs/ada/lib/python3.9/site-packages/plotly/express/_core.py:1207, in process_args_into_dataframe(
    args={'category_orders': None, 'color': None, 'color_discrete_map': None, 'color_discrete_sequence': None, 'custom_data': None, 'data_frame':      total_bill   tip     sex smoker   day    ti...   No  Thur  Dinner     2

[244 rows x 7 columns], 'facet_col': None, 'facet_col_spacing': None, 'facet_col_wrap': 0, 'facet_row': None, ...},
    wide_mode=False,
    var_name=None,
    value_name=None
)
   1205         if argument == "index":
   1206             err_msg += "\n To use the index, pass it in directly as `df.index`."
-> 1207         raise ValueError(err_msg)
        err_msg = "Value of 'names' is not the name of a column in 'data_frame'. Expected one of ['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'] but received: Season"
   1208 elif length and len(df_input[argument]) != length:
   1209     raise ValueError(
   1210         "All arguments should have the same length. "
   1211         "The length of column argument `df[%s]` is %d, whereas the "
   (...)
   1218         )
   1219     )

ValueError: Value of 'names' is not the name of a column in 'data_frame'. Expected one of ['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'] but received: Season