In [26]:
import os
import sys
import pickle as pkl
import pandas as pd
import plotly.express as px
from dash import Dash, dcc, html, Input, Output
repo_path = '/Users/sebastofi/Documents/EPFL/Master/MA3/ADA2023/project/project_v4_refactor' # CHANGE
sys.path.append(repo_path)

from src.data.Data import load_data

In [2]:
dpath = os.path.join(repo_path, 'Data', 'Unified_ratings.pkl')
with open(dpath, 'rb') as f:
    df = pkl.load(f)
print(df.shape)

(13509446, 18)

In [4]:
beer_dict = {
    'American Pale Ale': 'Pale Ale',
    'American Blonde Ale': 'Pale Ale',
    'Golden Ale/Blond Ale': 'Pale Ale',
    'Bitter': 'Pale Ale',
    'Pale Ale': 'Pale Ale',
    'American Pale Ale (APA)': 'Pale Ale',
    'English Pale Ale': 'Pale Ale',
    'English Bitter': 'Pale Ale',
    'Premium Bitter/ESB': 'Pale Ale',
    'English India Pale Ale (IPA)': 'Pale Ale',
    'Extra Special / Strong Bitter (ESB)': 'Pale Ale',
    'Saison / Farmhouse Ale': 'Pale Ale',
    'English Pale Mild Ale': 'Pale Ale',
    'Saison': 'Pale Ale',
    'Belgian Pale Ale': 'Pale Ale',
    'Belgian Strong Pale Ale': 'Strong Pale Ale',
    'Tripel': 'Strong Pale Ale',
    'Abbey Tripel': 'Strong Pale Ale',
    'American IPA': 'IPA',
    'Black IPA': 'IPA',
    'India Pale Ale (IPA)': 'IPA',
    'American Double / Imperial IPA': 'IPA',
    'Imperial IPA': 'IPA',
    'New England IPA (NEIPA)': 'IPA',
    'Session IPA': 'IPA',
    'Belgian IPA': 'IPA',
    'Abbey Dubbel': 'Brown/Dark Ale',
    'Dubbel': 'Brown/Dark Ale',
    'Belgian Dark Ale': 'Brown/Dark Ale',
    'American Brown Ale': 'Brown/Dark Ale',
    'Brown Ale': 'Brown/Dark Ale',
    'English Dark Mild Ale': 'Brown/Dark Ale',
    'American Black Ale': 'Brown/Dark Ale',
    'English Brown Ale': 'Brown/Dark Ale',
    'Belgian Strong Dark Ale': 'Strong Brown/Dark Ale',
    'Abt/Quadrupel': 'Strong Brown/Dark Ale',
    'Barley Wine': 'Strong Brown/Dark Ale',
    'English Barleywine': 'Strong Brown/Dark Ale',
    'American Barleywine': 'Strong Brown/Dark Ale',
    'Quadrupel (Quad)': 'Strong Brown/Dark Ale',
    'Amber Ale': 'Amber Ale',
    'American Amber Ale': 'Amber Ale',
    'Irish Red Ale': 'Amber Ale',
    'American Amber / Red Ale': 'Amber Ale',
    'Red Ale': 'Amber Ale',
    'Belgian Ale': 'Ale',
    'Irish Ale': 'Ale',
    'Old Ale': 'Ale',
    'Mild Ale': 'Ale',
    'Traditional Ale': 'Ale',
    'Scotch Ale / Wee Heavy': 'Ale',
    'Scotch Ale': 'Ale',
    'Scottish Ale': 'Ale',
    'Belgian Strong Ale': 'Strong Ale',
    'American Strong Ale': 'Strong Ale',
    'English Strong Ale': 'Strong Ale',
    'Winter Warmer': 'Strong Ale',
    'Stout': 'Stout',
    'American Stout': 'Stout',
    'Dry Stout': 'Stout',
    'American Double / Imperial Stout': 'Stout',
    'English Stout': 'Stout',
    'Imperial Stout': 'Stout',
    'Irish Dry Stout': 'Stout',
    'Foreign / Export Stout': 'Stout',
    'Oatmeal Stout': 'Stout',
    'Russian Imperial Stout': 'Stout',
    'Milk / Sweet Stout': 'Stout',
    'Foreign Stout': 'Stout',
    'Sweet Stout': 'Stout',
    'Porter': 'Porter',
    'American Porter': 'Porter',
    'Baltic Porter': 'Porter',
    'Imperial Porter': 'Porter',
    'English Porter': 'Porter',
    'American Dark Wheat Ale': 'Wheat Beer',
    'Berliner Weissbier': 'Wheat Beer',
    'Dunkelweizen': 'Wheat Beer',
    'German Hefeweizen': 'Wheat Beer',
    'Hefeweizen': 'Wheat Beer',
    'Wheat Ale': 'Wheat Beer',
    'Weizen Bock': 'Wheat Beer',
    'Roggenbier': 'Wheat Beer',
    'Weizenbock': 'Wheat Beer',
    'Witbier': 'Wheat Beer',
    'German Kristallweizen': 'Wheat Beer',
    'Berliner Weisse': 'Wheat Beer',
    'Kristalweizen': 'Wheat Beer',
    'Wheatwine': 'Wheat Beer',
    'Dunkelweizen': 'Wheat Beer',
    'American Pale Wheat Ale': 'Wheat Beer',
    'Flanders Oud Bruin': 'Wild/Sour Beer',
    'Flanders Red Ale': 'Wild/Sour Beer',
    'Gose': 'Wild/Sour Beer',
    'Lambic - Fruit': 'Wild/Sour Beer',
    'American Wild Ale': 'Wild/Sour Beer',
    'Lambic - Unblended': 'Wild/Sour Beer',
    'Lambic Style - Faro': 'Wild/Sour Beer',
    'Lambic Style - Fruit': 'Wild/Sour Beer',
    'Lambic Style - Gueuze': 'Wild/Sour Beer',
    'Lambic Style - Unblended': 'Wild/Sour Beer',
    'Sour Red/Brown': 'Wild/Sour Beer',
    'Sour/Wild Ale': 'Wild/Sour Beer',
    'Faro': 'Wild/Sour Beer',
    'Gueuze': 'Wild/Sour Beer',
    'Grodziskie/Gose/Lichtenhainer': 'Wild/Sour Beer',
    'American Adjunct Lager': 'Pilsner & Pale Lager',
    'American Pale Lager': 'Pilsner & Pale Lager',
    'Pilsener': 'Pilsner & Pale Lager',
    'Dortmunder / Export Lager': 'Pilsner & Pale Lager',
    'European Pale Lager': 'Pilsner & Pale Lager',
    'German Pilsener': 'Pilsner & Pale Lager',
    'Pale Lager': 'Pilsner & Pale Lager',
    'Munich Helles Lager': 'Pilsner & Pale Lager',
    'Pilsener (German and Czech)': 'Pilsner & Pale Lager',
    'Czech Pilsener': 'Pilsner & Pale Lager',
    'Czech Pilsner (Světlý)': 'Pilsner & Pale Lager',
    'India Style Lager': 'Pilsner & Pale Lager',
    'Imperial Pils/Strong Pale Lager': 'Pilsner & Pale Lager',
    'Kellerbier / Zwickelbier': 'Pilsner & Pale Lager',
    'Euro Pale Lager': 'Pilsner & Pale Lager',
    'Zwickel/Keller/Landbier': 'Pilsner & Pale Lager',
    'Euro Strong Lager': 'Pilsner & Pale Lager',
    'American Double / Imperial Pilsner': 'Pilsner & Pale Lager',
    'Light Lager': 'Pilsner & Pale Lager',
    'Radler/Shandy': 'Pilsner & Pale Lager',
    'Japanese Rice Lager': 'Pilsner & Pale Lager',
    'Premium Lager': 'Pilsner & Pale Lager',
    'Dortmunder/Helles': 'Pilsner & Pale Lager',
    'Doppelbock': 'Bock',
    'Eisbock': 'Bock',
    'Heller Bock': 'Bock',
    'Maibock / Helles Bock': 'Bock',
    'Bock': 'Bock',
    'Amber Lager/Vienna': 'Dark Lager',
    'Munich Dunkel Lager': 'Dark Lager',
    'Schwarzbier': 'Dark Lager',
    'Vienna Lager': 'Dark Lager',
    'American Amber / Red Lager': 'Dark Lager',
    'Dunkel/Tmavý': 'Dark Lager',
    'Dunkler Bock': 'Dark Lager',
    'Euro Dark Lager': 'Dark Lager',
    'Schwarzbier': 'Dark Lager',
    'Polotmavý': 'Dark Lager',
    'Märzen / Oktoberfest': 'Dark Lager',
    'Oktoberfest/Märzen': 'Dark Lager',
    'Rauchbier': 'Smoked',
    'Smoked': 'Smoked',
    'Smoked Beer': 'Smoked',
    'Cream Ale': 'Hybrid Beer',
    'Kölsch': 'Hybrid Beer',
    'California Common': 'Hybrid Beer',
    'California Common / Steam Beer': 'Hybrid Beer',
    'Braggot': 'Hybrid Beer',
    'Bière de Garde': 'Hybrid Beer',
    'Black & Tan': 'Hybrid Beer',
    'Altbier': 'Hybrid Beer',
    'Rye Beer': 'Hybrid Beer',
    'Chile Beer': 'Herbs/Vegetables',
    'Cider': 'Herbs/Vegetables',
    'Fruit / Vegetable Beer': 'Herbs/Vegetables',
    'Fruit Beer': 'Herbs/Vegetables',
    'Herbed / Spiced Beer': 'Herbs/Vegetables',
    'Mead': 'Herbs/Vegetables',
    'Spice/Herb/Vegetable': 'Herbs/Vegetables',
    'Specialty Grain': 'Herbs/Vegetables',
    'Sahti': 'Herbs/Vegetables',
    'Sahti/Gotlandsdricke/Koduõlu': 'Herbs/Vegetables',
    'Scottish Gruit / Ancient Herbed Ale': 'Herbs/Vegetables',
    'Pumpkin Ale': 'Herbs/Vegetables',
    'Perry': 'Herbs/Vegetables',
    'Happoshu': 'Low Alcohol',
    'Low Alcohol': 'Low Alcohol',
    'Low Alcohol Beer': 'Low Alcohol',
    'Kvass': 'Low Alcohol',
    'American Malt Liquor': 'Cocktails',
    'Bière de Champagne / Bière Brut': 'Cocktails',
    'Malt Liquor': 'Cocktails',
    'Saké - Daiginjo': 'Cocktails',
    'Saké - Futsu-shu': 'Cocktails',
    'Saké - Genshu': 'Cocktails',
    'Saké - Ginjo': 'Cocktails',
    'Saké - Honjozo': 'Cocktails',
    'Saké - Infused': 'Cocktails',
    'Saké - Junmai': 'Cocktails',
    'Saké - Koshu': 'Cocktails',
    'Saké - Namasaké': 'Cocktails',
    'Saké - Nigori': 'Cocktails',
    'Saké - Taru': 'Cocktails',
    'Saké - Tokubetsu': 'Cocktails'
}

In [5]:
df['category'] =  df['style'].str.strip().map(beer_dict)
df

,beer_name,beer_id,brewery_name,brewery_id,style,date,rating,user_id,Procedence,country_user,country_brewery,year,Season,z_score,exp_mean,diff_exp_mean,ith_rating,detrend,category
0,Abita Andygator,3.0,Abita Brewing Company,1.0,Maibock / Helles Bock,2003-10-15 10:00:00,3.55,6824.0,BA,"United States, Illinois","United States, Louisiana",2003,Autumn,-0.245907,-0.245907,0.000000,1,-0.033658,Bock
1,Abita Andygator,3.0,Abita Brewing Company,1.0,Maibock / Helles Bock,2003-12-22 11:00:00,3.85,4053.0,BA,"United States, Massachusetts","United States, Louisiana",2003,Winter,0.192531,-0.026688,0.219219,2,0.404457,Bock
2,Abita Andygator,3.0,Abita Brewing Company,1.0,Maibock / Helles Bock,2004-04-06 10:00:00,2.90,3257.0,BA,"United States, Louisiana","United States, Louisiana",2004,Spring,-1.298318,-0.450565,-0.847753,3,-1.086715,Bock
3,Abita Andygator,3.0,Abita Brewing Company,1.0,Maibock / Helles Bock,2004-04-22 10:00:00,2.39,3299.0,BA,"United States, Connecticut","United States, Louisiana",2004,Spring,-2.074659,-0.856588,-1.218071,4,-1.863380,Bock
4,Abita Andygator,3.0,Abita Brewing Company,1.0,Maibock / Helles Bock,2004-05-02 10:00:00,3.28,20143.0,BA,"United States, Texas","United States, Louisiana",2004,Spring,-0.719867,-0.829244,0.109377,5,-0.508911,Bock
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13509441,°Plato Salish Sea IPA,535257.0,°Plato Brewing,21442.0,India Pale Ale (IPA),2017-07-09 10:00:00,3.30,140470.0,RB,Germany,England,2017,Summer,-0.213312,-0.159553,-0.053760,7,-0.085910,IPA
13509442,°Plato Salish Sea IPA,535257.0,°Plato Brewing,21442.0,India Pale Ale (IPA),2017-07-16 10:00:00,3.30,128401.0,RB,Scotland,England,2017,Summer,-0.213312,-0.166272,-0.047040,8,-0.072149,IPA
13509443,°Plato Salish Sea IPA,535257.0,°Plato Brewing,21442.0,India Pale Ale (IPA),2017-07-22 10:00:00,3.60,81835.0,RB,England,England,2017,Summer,0.288827,-0.115706,0.404533,9,0.443752,IPA
13509444,°Plato Salish Sea IPA,535257.0,°Plato Brewing,21442.0,India Pale Ale (IPA),2017-07-23 10:00:00,3.60,81782.0,RB,Norway,England,2017,Summer,0.288827,-0.075252,0.364080,10,0.457513,IPA
13509445,°Plato Salish Sea IPA,535257.0,°Plato Brewing,21442.0,India Pale Ale (IPA),2017-07-27 10:00:00,3.40,233022.0,RB,Sweden,England,2017,Summer,-0.045932,-0.072587,0.026655,11,0.136514,IPA

# Columns filtration

In [6]:
df.columns

Index(['beer_name', 'beer_id', 'brewery_name', 'brewery_id', 'style', 'date',
       'rating', 'user_id', 'Procedence', 'country_user', 'country_brewery',
       'year', 'Season', 'z_score', 'exp_mean', 'diff_exp_mean', 'ith_rating',
       'detrend', 'category'],
      dtype='object')

In [7]:
filtered_df = df[['category','Season', 'country_user']]
filtered_df

         category  Season                  country_user
0            Bock  Autumn       United States, Illinois
1            Bock  Winter  United States, Massachusetts
2            Bock  Spring      United States, Louisiana
3            Bock  Spring    United States, Connecticut
4            Bock  Spring          United States, Texas
...           ...     ...                           ...
13509441      IPA  Summer                       Germany
13509442      IPA  Summer                      Scotland
13509443      IPA  Summer                       England
13509444      IPA  Summer                        Norway
13509445      IPA  Summer                        Sweden

[13509446 rows x 3 columns]

In [8]:
top_4_beerstyles = filtered_df.groupby(['country_user', 'Season'])['category'].value_counts().groupby(['country_user', 'Season']).head(4).reset_index(name='counts')

In [9]:
#top_4_beerstyles['categories'] = top_4_beerstyles['style'].str.strip().map(beer_dict)
top_4_beerstyles

     country_user  Season              category  counts
0     Afghanistan  Summer  Pilsner & Pale Lager      10
1     Afghanistan  Summer                 Stout       1
2     Afghanistan  Summer                   IPA       1
3         Algeria  Spring  Pilsner & Pale Lager       5
4         Algeria  Spring            Dark Lager       3
...           ...     ...                   ...     ...
2558        Wales  Summer                   IPA      19
2559        Wales  Winter              Pale Ale     114
2560        Wales  Winter                 Stout      40
2561        Wales  Winter            Strong Ale      31
2562        Wales  Winter                   IPA      30

[2563 rows x 4 columns]

In [36]:
summer_top4 = top_4_beerstyles[top_4_beerstyles['Season'] == 'Summer']
winter_top4 = top_4_beerstyles[top_4_beerstyles['Season'] == 'Winter']
autumn_top4 = top_4_beerstyles[top_4_beerstyles['Season'] == 'Autumn']
spring_top4 = top_4_beerstyles[top_4_beerstyles['Season'] == 'Spring']
summer_top4

     country_user  Season              category  counts
0     Afghanistan  Summer  Pilsner & Pale Lager      10
1     Afghanistan  Summer                 Stout       1
2     Afghanistan  Summer                   IPA       1
19        Andorra  Summer            Wheat Beer      13
20        Andorra  Summer  Pilsner & Pale Lager       9
...           ...     ...                   ...     ...
2542      Vietnam  Summer                   IPA       1
2555        Wales  Summer              Pale Ale     148
2556        Wales  Summer  Pilsner & Pale Lager      31
2557        Wales  Summer            Strong Ale      20
2558        Wales  Summer                   IPA      19

[639 rows x 4 columns]

In [52]:
summer_reviews = pd.crosstab(summer_top4['country_user'], summer_top4['category'], 
                             values = summer_top4['counts'], aggfunc= 'mean').fillna(0)
winter_reviews = pd.crosstab(winter_top4['country_user'], winter_top4['category'], 
                             values = winter_top4['counts'], aggfunc= 'mean').fillna(0)
autumn_reviews = pd.crosstab(autumn_top4['country_user'], autumn_top4['category'], 
                             values = autumn_top4['counts'], aggfunc= 'mean').fillna(0)
spring_reviews = pd.crosstab(spring_top4['country_user'], spring_top4['category'], 
                             values = spring_top4['counts'], aggfunc= 'mean').fillna(0)
spring_reviews

category,Ale,Amber Ale,Bock,Brown/Dark Ale,Dark Lager,Herbs/Vegetables,IPA,Pale Ale,Pilsner & Pale Lager,Porter,Smoked,Stout,Strong Ale,Strong Brown/Dark Ale,Strong Pale Ale,Wheat Beer,Wild/Sour Beer
country_user,,,,,,,,,,,,,,,,,
Algeria,0.0,0.0,3.0,0.0,3.0,0.0,0.0,0.0,5.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
Andorra,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0
Antarctica,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
Aotearoa,0.0,0.0,0.0,0.0,0.0,0.0,31.0,33.0,11.0,0.0,0.0,21.0,0.0,0.0,0.0,0.0,0.0
Argentina,0.0,0.0,0.0,0.0,0.0,0.0,19.0,30.0,41.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uruguay,0.0,0.0,0.0,0.0,5.0,0.0,0.0,6.0,13.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0
Uzbekistan,0.0,2.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,8.0,0.0,3.0,0.0,0.0,0.0
Venezuela,0.0,0.0,0.0,0.0,0.0,0.0,145.0,117.0,168.0,0.0,0.0,59.0,0.0,0.0,0.0,0.0,0.0
Vietnam,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,25.0,0.0,0.0,0.0,3.0,0.0,0.0,4.0,0.0
Wales,0.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,35.0,0.0,0.0,24.0,26.0,0.0,0.0,0.0,0.0

In [45]:
#Interactive plot
def seasonal_piechart (season_df):
    app = Dash(__name__)


    app.layout = html.Div([
        html.H4('Top4 beers ratings distribution in summer'),
        dcc.Graph(id="graph"),
        html.P("Countries:"),
        dcc.Dropdown(id='names',
            options=season_df.T.columns.values,
            value='Switzerland', clearable=False
        ),
    ])


    @app.callback(
        Output("graph", "figure"), 
        Input("names", "value"))
    def generate_chart(names):
        df = season_df.T # replace with your own data source
        fig = px.pie(df, values= names , names= season_df.T.index.values , hole=.3)
        fig.update_traces(textposition = 'inside')
        return fig


    app.run_server(debug=True)

In [49]:
seasonal_piechart(summer_reviews)

In [51]:
seasonal_piechart(winter_reviews)