In [1]:
import os
import sys
import pickle as pkl

repo_path = '/root/ADA2023/ada-2023-project-adacadabra2023/ada-2023-project-adacadabra2023' # CHANGE
sys.path.append(repo_path)

from src.data.Data import load_data

In [2]:
dpath = os.path.join(repo_path, 'Data', 'Unified_ratings.pkl')
with open(dpath, 'rb') as f:
    df = pkl.load(f)
print(df.shape)

(10932248, 18)

# Columns filtration

In [6]:
df.columns

Index(['beer_name', 'beer_id', 'brewery_name', 'brewery_id', 'style', 'date',
       'rating', 'user_id', 'Procedence', 'country_user', 'country_brewery',
       'year', 'Season', 'z_score', 'exp_mean', 'diff_exp_mean', 'ith_rating',
       'detrend'],
      dtype='object')

In [21]:
filtered_df['style'].nunique()

186

In [9]:
filtered_df = df[['style','Season', 'country_user']]

In [41]:
seasonal_groups = filtered_df.groupby(['Season','country_user'])['style'].value_counts().unstack()
season_df = seasonal_groups.fillna(0)

In [46]:
df_toappend = season_df[[]]

In [52]:
first_style = seasonal_groups.idxmax(axis = 1, numeric_only = True).to_frame()

In [53]:
first_style['0'] = ''

                                              0
Season country_user
Autumn Andorra                     Abbey Tripel
       Antarctica                        Porter
       Aotearoa                English Pale Ale
       Argentina         American Adjunct Lager
       Ascension Island              Pale Lager
...                                         ...
Winter Uruguay                       Pale Lager
       Uzbekistan                         Stout
       Venezuela           India Pale Ale (IPA)
       Vietnam           American Adjunct Lager
       Wales                             Bitter

[604 rows x 1 columns]

In [39]:
df_toappend = filtered_df.groupby(['Season','country_user']).value_counts().to_frame()
df_toappend

                                          0
Season country_user style
Autumn Andorra       Abbey Tripel         4
                     Dunkel/Tmavý         3
                     Abbey Dubbel         3
                     German Hefeweizen    3
                     Belgian Strong Ale   3
...                                      ..
Winter Wales         Smoked               1
                     Specialty Grain      1
                     Weizen Bock          1
                     Altbier              1
                     American Strong Ale  1

[70304 rows x 1 columns]

In [34]:
seasonal_groups

style                     Abbey Dubbel   Abbey Tripel   Abt/Quadrupel  \
Season country_user
Autumn Andorra                     3.0            4.0             NaN
       Antarctica                  NaN            NaN             NaN
       Aotearoa                    NaN            NaN             NaN
       Argentina                   1.0            NaN             NaN
       Ascension Island            NaN            NaN             NaN
...                                ...            ...             ...
Winter Uruguay                     3.0            1.0             NaN
       Uzbekistan                  NaN            NaN             NaN
       Venezuela                   4.0            5.0             5.0
       Vietnam                     NaN            NaN             NaN
       Wales                       1.0            4.0             2.0

style                     Altbier   Amber Ale   Amber Lager/Vienna  \
Season country_user
Autumn Andorra                NaN         NaN                  NaN
       Antarctica             NaN         NaN                  NaN
       Aotearoa               NaN         NaN                  NaN
       Argentina              NaN         NaN                  NaN
       Ascension Island       NaN         NaN                  1.0
...                           ...         ...                  ...
Winter Uruguay                NaN         NaN                  1.0
       Uzbekistan             NaN         NaN                  NaN
       Venezuela              1.0         6.0                  3.0
       Vietnam                NaN         NaN                  NaN
       Wales                  1.0         2.0                  3.0

style                     American Pale Ale   American Strong Ale  \
Season country_user
Autumn Andorra                          NaN                   NaN
       Antarctica                       NaN                   NaN
       Aotearoa                         NaN                   NaN
       Argentina                        1.0                   NaN
       Ascension Island                 1.0                   2.0
...                                     ...                   ...
Winter Uruguay                          NaN                   NaN
       Uzbekistan                       NaN                   NaN
       Venezuela                        9.0                   7.0
       Vietnam                          NaN                   NaN
       Wales                            2.0                   1.0

style                     Baltic Porter   Barley Wine  ...  Specialty Grain  \
Season country_user                                    ...
Autumn Andorra                      NaN           1.0  ...              NaN
       Antarctica                   NaN           NaN  ...              NaN
       Aotearoa                     NaN           NaN  ...              NaN
       Argentina                    NaN           1.0  ...              NaN
       Ascension Island             NaN           NaN  ...              NaN
...                                 ...           ...  ...              ...
Winter Uruguay                      NaN           NaN  ...              NaN
       Uzbekistan                   NaN           NaN  ...              NaN
       Venezuela                    5.0          11.0  ...              1.0
       Vietnam                      NaN           NaN  ...              NaN
       Wales                        NaN           2.0  ...              NaN

style                    Stout  Traditional Ale  Tripel  Vienna Lager  \
Season country_user
Autumn Andorra             NaN              NaN     NaN           NaN
       Antarctica          NaN              NaN     NaN           1.0
       Aotearoa            NaN              NaN     NaN           NaN
       Argentina           NaN              NaN     2.0           2.0
       Ascension Island    NaN              NaN     NaN           NaN
...                        ...              ...     ...           ...
Winter Uruguay             NaN              NaN     NaN           NaN
       Uzbekistan          6.0              NaN     NaN           NaN
       Venezuela          13.0              NaN     4.0           1.0
       Vietnam             NaN              NaN     1.0           1.0
       Wales               NaN              NaN     NaN           1.0

style                    Weizenbock  Wheat Ale  Wheatwine  Winter Warmer  \
Season country_user
Autumn Andorra                  NaN        NaN        NaN            NaN
       Antarctica               NaN        NaN        NaN            NaN
       Aotearoa                 NaN        NaN        NaN            NaN
       Argentina                NaN        NaN        NaN            NaN
       Ascension Island         NaN        NaN        NaN            NaN
...                             ...        ...        ...            ...
Winter Uruguay                  NaN        NaN        NaN            NaN
       Uzbekistan               NaN        NaN        NaN            NaN
       Venezuela                NaN        NaN        NaN            4.0
       Vietnam                  NaN        NaN        NaN            NaN
       Wales                    NaN        NaN        NaN            2.0

style                    Witbier
Season country_user
Autumn Andorra               NaN
       Antarctica            NaN
       Aotearoa              NaN
       Argentina             NaN
       Ascension Island      NaN
...                          ...
Winter Uruguay               NaN
       Uzbekistan            NaN
       Venezuela             4.0
       Vietnam               2.0
       Wales                 NaN

[604 rows x 186 columns]

In [27]:
def sorting_styles(column):
    
    
    
    return sorted

KeyError: 'style'